header{
    background-color: var(--background-tertiary-cor);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 38px 48px;
    
}
.logo{
    display: inline-block;
    width: 68px;
    height: 64px;
    
}
.navigation{
    padding-top: 24px;
}
input[type="checkbox"]:checked ~ nav{
    display:block;
}


nav{
    display: none;
}
