.testimonial-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

}



.article-test{
    
}

.testimonial-container article header p{
    font-size: 16px;
    line-height: 28px;
    width: 312px;
    
}

.testimonial-container footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 286px;
    margin-top: 8px;
    gap: 24px;
    
}
.testimonial-container footer img{
    width: 86px;
    height: 86px;
}
.testimonial-container footer .profile-content h4{
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--title-weigth);
    margin: 0 0 8px;
}
.testimonial-container footer .profile-content .rating .star{
    font-size: 32px;
    color: var(--secundary-color);
    line-height: 32px;
}


@media screen and (min-width: 768px) {
    .testimonial-container footer{
    width: 648px;
   
}
.testimonial-container article header p{
    width: 648px;
    
}
.testimonial-container .header-testimonial{
    padding: 0;
}


}



@media screen and (min-width: 1440px) {
    .testimonial-container{
        flex-direction: row;
        justify-content:center;
    }
      .testimonial-container footer{
    width: 384px;
   
}
.testimonial-container article header p{
    width: 384px;
    
}
.testimonial-container .header-testimonial{
    padding: 0;
}
.testimonial-container .article-terceiro{
    height: 206px;
}

}